* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 80px 0 0 0;
}

body {
  font-family: "Merriweather", serif;
  font-size: 16px;

  color: var(--c-grey-text);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--c-main);
}

::-webkit-scrollbar-thumb {
  background-color: var(--c-second);
  border: 3px solid var(--c-second);
  @include prefixer(border-radius, 5px);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--c-second);
}

a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  list-style: none;
}

input,
textarea,
select {
  border: 1px solid !important;
  border-color: transparent transparent gray transparent !important;
  outline: none;
  resize: none !important;

  &::placeholder {
    @include prefixer(transition, var(--t-03));
  }

  &:focus {
    box-shadow: none !important;
    border-color: var(--c-main) !important;

    &::placeholder {
      @include opacity(0);
    }
  }
}

textarea {
  resize: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--f-important);
}

main {
  min-height: 100vh;
}

section {
  padding: 50px 0;
}