/* Helpers */
@import "./styles/helpers/variables";
@import "./styles/helpers/mixins";
@import "./styles/helpers/framework";
@import "./styles/helpers/animations";

/* Global */
@import "./styles/screens/global-rule";

/* Pages */
@import "./styles/screens/auth";

/* Layouts */
@import "./styles/layouts/sidebar";
@import "./styles/layouts/header";

/* Sections */
@import "./styles/sections/hero";
@import "./styles/sections/about";
@import "./styles/sections/chances";
@import "./styles/sections/contact";

/* Components */
@import "./styles/components/toast";
@import "./styles/components/warning";
@import "./styles/components/lan-chance";


/* Components -> Form */
@import "./styles/components/form/button";

/* Modals */

/* Sections */