.btn-main-outline {
  background-color: transparent;
  border: 1px solid var(--c-main);
  color: var(--c-main);
}

.btn-main {
  background-color: var(--c-main);
  border: none;
  color: white;
}

.btn-main-gradient {
  background-image: linear-gradient(45deg, var(--c-main), var(--c-second));
  color: white;
  border: none;
}

.btn-main-gradient:hover {
  opacity: 0.9;
}

.btn-main:hover {
  background-color: var(--c-main-hover);
  color: white;
}

.btn-main:disabled {
  border: 1px solid gray;
}

.btn-main-outline:hover {
  background-color: var(--c-main);
  color: white;
}

.my-btn:disabled {
  background-image: none;
  background-color: transparent !important;
  border: 2px solid var(--c-disabled);
  color: var(--c-disabled);
  cursor: default;
}