#header {
  height: 72px;
  z-index: 997;

  .sections-list {
    background-color: white;
    max-height: 0;
    box-shadow: 0 12px 15px var(--shadow-dark);
    position: absolute;
    @include set-position(72px, 0, auto, 0);

    &.active {
      max-height: 100vh;
    }

    li {
      background-color: white;

      a p {
        font-weight: 500;
        color: black;
      }

      &:hover {
        background-color: var(--c-main);

        a p {
          color: white;
        }
      }

      &.active {
        background-color: var(--p-third);

        a p {
          color: var(--c-second);
        }
      }
    }

    @include breakpoints(md) {
      background-color: transparent;
      max-height: 100vh;
      box-shadow: none;
      display: flex;
      align-items: center;
      gap: 1rem;
      position: static;

      li {
        background-color: transparent;

        a p {
          color: black;
        }

        &:hover {
          background-color: transparent;

          a p {
            color: var(--c-main);
          }
        }
      }
    }
  }

  .icon {
    color: var(--p-second);

    &:hover {
      color: var(--p-second-transparent);
    }

    &.active {
      color: var(--p-second);
    }
  }
}